@import "src/./variables.scss";


.queue_container{

  overflow-y: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1rem;
  width: 95%;
  margin: calc(((100vh - 80px) - 80vh)/2) auto 0;
  border-radius: 15px;
  position: relative;
  z-index: 1400;
  height: 80vh;
  @media (min-width:1500px) {
    max-width: 1450px;
  }
  background-color: $light-grey;
  justify-content: center;
  ul{
    padding: 0 1rem;
  }

}

.queue_col:first-child{
  border-right: 1px solid $dark-grey;
}

.queue_container::-webkit-scrollbar{
  //width: 10px;
}