$yellow: rgba(255, 197, 53, 0.99);
$yellow-lighter: rgba(255, 200, 67, 0.99);
$yellow-50: rgba(255, 197, 53, 0.99);
$black: #000;
$black-disabled: #333;
$black-50: rgba(0,0,0,0.5);
$black-18: rgba(0,0,0,0.18);
$light-grey: #eceded;
$light-grey-50: rgba(236,237,237,0.5);
$dark-grey: #646569;
$santa-grey: #bcb8b2;
$red: rgba(235, 87, 87, 0.99);
$green: rgba(111, 207, 151, 0.99);
$green-second: rgba(60, 180, 110, 0.99);
$green-lighter: rgba(119, 213, 156, 0.99);
$blue: rgba(111, 190, 207, 0.99);
$blue-dark: rgba(139, 203, 236, 0.99);
$gray-promo: rgba(105, 105, 105, 0.99);
$yellow-accent: rgba(238, 221, 153, 0.99);
$brown-accent: #8d6024;
$pink: #d97693;

$font-sm: 0.8rem;
$font-smer: 0.88rem;
$font-md: 0.95rem;
$font-regular: 1.05rem;
$font-mder: 1.2rem;
$font-prelg: 1.35rem;
$font-lg: 1.5rem;
$font-lger: 1.8rem;
