$yellow: #ffc535;
$yellow-lighter: #ffc843;
$yellow-50: rgba(255,197,53,0.5);
$black: #000;
$black-disabled: #333;
$black-50: rgba(0,0,0,0.5);
$black-18: rgba(0,0,0,0.18);
$light-grey: #eceded;
$light-grey-50: rgba(236,237,237,0.5);
$dark-grey: #646569;
$santa-grey: #bcb8b2;
$red: #eb5757;
$green: #6fcf97;
$green-second: #3cb46e;
$green-lighter: #77d59c;
$blue: #6fbecf;
$gray-promo: rgb(105, 105, 105);
$yellow-accent: rgb(238, 221, 153);
$brown-accent: #8d6024;


$font-sm: 0.8rem;
$font-smer: 0.88rem;
$font-md: 0.95rem;
$font-regular: 1.05rem;
$font-mder: 1.2rem;
$font-lg: 1.5rem;
$font-lger: 1.8rem;
