@import "src/./variables.scss";


.virtual_cart{
  right: -500%;
  position: absolute;
  width: 400px;
  padding: 1rem;
  background-color: $light-grey;
  box-shadow: 1px 2px 15px $dark-grey;
  border-radius: 10px;
  z-index: 701;
  top: calc(67px + 1rem);
  transition: all 0.4s ease-in-out;
  overflow-y: auto;

  max-height: calc(320px - 1rem - 67px);
}

.virtual_cart::-webkit-scrollbar{
  display: none;
}

.--virtual-active{
  right: calc(0px - (400px + 1rem));
  z-index: 1400;
}


.reduce_add_button{
  display: flex;
  width: 85px;
  justify-content: space-between;
  align-items: center;
}

.virtual_icon{
  background-color: $santa-grey;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: all 0.05s ease-in-out;
}

.virtual_icon:active{
  transform: scale(.95)
}

.virtual_product_quantity{
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  user-select: none;
}
.virtual_total_price{
  margin-right: 1rem;
}