@import "../../variables";


.categories{
  position: sticky;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 50;
  top: 68px;
  margin-left: 1.4rem;
  margin-top: 1.5rem;

  @media (min-width: 1440px) {
    margin-top: 3.2rem;
    top: 88px;
  }

  @media (min-width: 1540px) {
    flex-direction: column;
    position: fixed;
    top: 280px;
    margin-left: 0;
    right: calc((9% - 100px)/2);
    align-items: flex-start;
  }



}

.category_item{
  border-radius: 4px;
  margin-right: 0.3rem;
  background-color: $light-grey;
  padding: 0.5rem;
  transition: all 0.15s ease-in-out ;
  p{
    font-family: "Geometria",sans-serif;
    font-size: $font-regular;
    user-select: none;


  }
  @media (min-width: 1540px) {
    margin-bottom: 0.7rem;

    width: 120px;
    margin-right: 0;
    p{
      text-align: center;
    }
  }

}
.--category-active{
  background-color: $black;
  p{
    color: white;
    font-family: "Geometria Medium",sans-serif;
    user-select: none;
  }
}
.category_item:last-of-type{
  margin-right: 0;

}