@import "../../variables";


.categories{
  position: sticky;
  //width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 50;
  top: 68px;
  margin-left: 1rem;
  margin-top: 1.5rem;

  @media (min-width: 1440px) {
    margin-top: 2.5rem;
    top: 88px;
  }

  @media (min-width: 1540px) {
    flex-direction: column;
    position: fixed;
    left: calc((10% - 130px)/2 );
    top: 280px;
    margin-left: 0;

    align-items: flex-start;
  }
  @media (min-width: 1700px) {
    left: calc((10% - 115px)/2 );

  }


}

.category_item{
  margin-right: 0.3rem;
  background-color: $light-grey;
  padding: 0.5rem;
  transition: all 0.15s ease-in-out ;
  border-radius: 1px;
  p{
    font-family: "Geometria",sans-serif;
    font-size: $font-regular;
    user-select: none;


  }
  @media (min-width: 1540px) {
    margin-bottom: 0.7rem;
    width: 120px;
    p{
      text-align: center;
    }
  }
}
.--category-active{
  background-color: $black;
  p{
    color: white;
    font-family: "Geometria Medium",sans-serif;
  }
}
.category_item:last-of-type{
  margin-right: 0;

}