@import "src/./variables.scss";



header {
  margin-bottom: 2rem;
  height: 40vh;
  display: block;

  @media (min-height: 670px) {
    height: 35vh;
  }
  @media (min-height: 730px) {
    height: 30vh;
  }
  @media(min-height: 850px) {
    height: 28vh;
  }
}

.header_top{
  position: fixed;
  padding: 1rem;
  height: fit-content;
  display: flex;
  z-index: 120;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #bcb8b2;

  p{
    height: 30px;
    font-size: $font-mder;
    display: flex;
    align-items: center;
  }

}



