@import "src/./variables.scss";

.cart_item{
  list-style: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $black-18;

  border-radius: 7px;
  padding: .7rem 1.5rem .7rem 1rem;
  margin-bottom: 0.3rem;
  align-items: center;
  transition: all 1s ease-in-out .5s;

  @media (min-width: 1440px) {
    padding: 1.2rem 2rem 1.2rem 1rem;
    margin-bottom: 0.5rem;
  }
}


.cart_item_image{
  margin-right: 15px;
  aspect-ratio: 5/3.5;
  border-radius: 9px;
  @media (min-height: 650px) {
    width: 70px;
  }
  @media (min-height: 800px) {
    width: 85px;

  }
  @media (min-height: 850px) {
    width: 90px;
  }
  @media (min-width: 1440px) {
    width: 100px;
  }
}



.leading{
  display: flex;
  padding: 0.2rem;
}

.cart_item_translate{
  user-select: none;
  font-family: "Geometria Medium", serif;
  line-height: 15px;
  margin-bottom: 10px;
  margin-top: 3px;
  @media (min-height: 650px) {
    font-size: $font-regular;
  }
  @media (min-height: 800px) {
    font-size: $font-regular;
  }
  @media (min-width: 1440px) {
    font-size: $font-prelg;
  }
}

.cart_item_price{
  user-select: none;
  font-family: "Geometria Medium", serif;
  font-size: $font-mder;
  @media (min-width: 1440px) {
    font-size: $font-lg;
  }
}
.cart_item_quantity{
  p{
    font-size: $font-regular;
    font-family: "Geometria Bold", serif;
    @media (min-width: 1440px) {
      font-size: $font-mder;
    }
  }
}
.price_info{
  line-height: 1rem;
  display: flex;
  flex-direction: column;


}

.quantity_price{
  color: $gray-promo;
  user-select: none;
  font-size: $font-smer;
  text-align: right;
  margin-top: 0.3rem;
  @media (min-width: 1440px) {
    font-size: $font-regular;
  }
}