@import "src/./variables.scss";


.pay.modal{
  z-index: 200;
  top: 0 !important;
  overflow-y: auto;
}
.pay_header{
  z-index: 600;
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid $santa-grey;


  p{
    font-size: $font-lg;
    font-family: "Geometria Bold", serif;
    font-weight: 500;
    position: absolute;
    left: calc(50vw - 30px - 25px);

  }
}

.pay_container{
  position: relative;
  padding: 1rem;
  top: 60px;
  height: calc(100% - 60px)
}

.card_payment_icon{
  margin-top: 0.2rem;
  height: 50px;
  background-color: $light-grey;
  padding: 0.2rem 0.4rem;
  margin-left: 0.5rem;
  border-radius: 7px;
}
.pay_way{
  list-style: none;
  padding-left: 1rem;
}

.payway_item{
  display: flex;
  margin-bottom: 1rem;
  .main_content{
    font-family: "Geometria Medium",sans-serif;
    font-size: $font-mder;
  }
  .sub_content{
    font-family: "Geometria",sans-serif;

  }
}
.payway_item:first-of-type{
  margin-bottom: 0.5rem;
}

.payway_content{
  margin-left: 1rem;
}


.pay_title{

  font-size: $font-lg;
  font-family: "Geometria Bold",sans-serif;
}
.check_warn{
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  font-family: "Geometria",sans-serif;
  font-size: $font-regular;
  font-style: italic;
}
.field_title{
  font-family: "Geometria Medium",sans-serif;
  font-size: $font-regular;
  small{
    font-family: "Geometria",sans-serif;
  }
}

.email_inp{
  margin-bottom: 1rem;
}