@import "src/./variables.scss";

.worker_modal{
  height: 400px;
  z-index: 800;
  padding-bottom: 1.5rem;
  top: calc((100% - 400px) /2);


  input::placeholder{
    color: $gray-promo !important;
    font-size: $font-prelg;
  }
  label{
    color: $gray-promo;
    font-size: $font-prelg !important;
  }
  input{
    font-size: $font-prelg ;
  }
}


.--disabled.w{
  color: $gray-promo;
}

.delivery_input.w{
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.flat_call_input.w{
  width: 21% !important;
  label{
    font-size: $font-mder !important;
  }
}

.address_input.w{
  margin-bottom: 0.5rem;
  label{
    font-size: $font-mder !important;
  }
}

.entrance_number_input.w{
  width: 34% !important;
  label{
    font-size: $font-mder !important;
  }
}
.floor_input.w{
  label{
    font-size: $font-mder !important;
  }
  width: 23% !important;
}

.verified_fullname_input.w{
  margin-bottom: 0.5rem;

}

.is_delivered_checkbox.w{
  align-items: center;
  margin-bottom: 0.2rem;

  input{
    width: 16px;
    height: 16px;
  }

}

.--disabled.w{
  font-size: $font-prelg;
}

.delivery_text_w{
  font-size: $font-prelg;
  display: flex;
  align-items: center;

}
.load_creds_icon{
  transform: translateY(2px);
  margin-left: 1rem;
  cursor: pointer;
}
.verify_sum{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    font-family: "Geometria Bold",sans-serif;
    font-size: $font-prelg;
  }
}

.delivered_at_title.w{
  font-size: $font-prelg;
}
.delivered_at_select_container.w{
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.delivered_at_select.w{
  transform: translateY(2.5px);
}

.exact_time_select{
  font-size: $font-mder !important;
  outline: none;
  border: 1px solid $black-50;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem;
  background-color: $yellow-accent;
  width: 100%;
  height: 100%;
  font-family: "Geometria Medium",sans-serif;
}

.exact_time_select_wrapper{
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 220px;
  bottom: 100px;
  left: 100%;
  box-shadow: 1px 3px 5px $dark-grey;
  display: flex;
  align-items: center;

}
.exact_time_select_wrapper:after{
  content:"🕛";
  position: absolute;
  right: 5px;
  font-size: 1.5rem;
  top: 13px;
}
.exact_time_select::-webkit-calendar-picker-indicator{
  position: absolute;
  right: 5px;
  z-index: 5000;
  font-size: 3rem;
  width: 200px;
  opacity: 0;
}

.--exact-active{

  opacity: 1;
}