@import "src/./variables.scss";


.create_subscriber_modal{
  min-width: 500px;
  min-height: 200px;
  background-color: $light-grey;
  position: absolute;
  opacity: 0;
  left: -200%;
  z-index: 122;
  padding: 1rem 1rem 2rem;
  border-radius: 7px;
}

.content_create{
  height: max-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  div{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      align-self: flex-start;
      margin-left: calc((468px - 350px) / 2);
    }
  }
  p{
    font-family: "Geometria",sans-serif;
    font-size: $font-mder;
    margin-bottom: 0.5rem;
  }
  input{
    font-size: $font-mder;
  }
}

.create_sub_title{
  font-family: "Geometria Bold",sans-serif;
  font-size: $font-prelg;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}

.--sub-modal-opened{
  opacity: 1;
  left: calc((100% - 400px )/ 2);
  top: 20%;
}

.register_subscriber_btn{
  margin: 2rem auto 0;
  border: 1px solid $dark-grey;
  padding: 0.5rem;
  font-family: "Geometria",sans-serif;
  width: 350px;
  font-size: $font-mder;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
  border-radius: 7px;
}

.register_subscriber_btn:active{
  transform: scale(.98)
}