@import "src/./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.layout{
  background-color: #fff;
  height: 100%;
  height: 100vh;
  display: block;
  position: relative;
  overflow-x: hidden;
}

html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none;
}
p{
  margin: 0;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

.app_form{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 120;
  top: 100%;
  left: 0;
  opacity: 0;
  background-color: rgba(0,0,0,.5);
  transition: opacity .4s ease;
}

.app_form.visible{
  top: 0;
  opacity: 1;
  @media (min-width: 1440px) {
    top: 80px;
  }
}

button{
  padding: 0;
}


.hidden{
  opacity: 0;
  height: 0;
  overflow: hidden;
}


.modal--visible {
  right: 0 !important
}

.menu_close_icon{
  //transform: translateX(-3px);
}

.modal{
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 5vh;
  transition: all .4s ease;
  position: fixed;
  background-color: white;
  right: -100%;
  overflow: hidden;
}
.--disabled{
  pointer-events: none;
  color: $santa-grey;
  opacity: 0.7;
  select{
    opacity: 0.5;
  }
}

@font-face {
  font-family: "Geometria";
  src: url("https://storage.yandexcloud.net/zharpizza-bucket/static/fonts/Geometria.ttf");
}

@font-face {
  font-family: "Geometria Bold";
  src: url("https://storage.yandexcloud.net/zharpizza-bucket/static/fonts/Geometria-Bold.ttf");
}

@font-face {
  font-family: "Geometria Medium";
  src: url("https://storage.yandexcloud.net/zharpizza-bucket/static/fonts/Geometria-Medium.ttf");
}
@font-face {
  font-family: "Geometria Light";
  src: url("https://storage.yandexcloud.net/zharpizza-bucket/static/fonts/Geometria-Light.ttf");
}


.--yellow{
  background-color: $yellow-lighter !important
}
.--green{
  background-color: $green-lighter !important
}
.--green-darker{
  background-color: $green-second !important;
}
.--green-normal{
  background-color: $green !important;
}
.--red{
  background-color: $red !important
}
s
.--blue-darker{
  background-color: #61AEC0FF !important;
}
.--blue{
  background-color: $blue !important
}
.--grey{
  background-color: $light-grey !important;
}
.--dark-blue{
  background-color: $blue-dark !important;
}

.app_form.w{
  z-index: 1500;
}

.--no-overflow{
  overflow: hidden;
}