@import "src/./variables.scss";





.promotion_title_primary{
  transition: all 0.5s ease;
  padding: 1rem;
  position: absolute;
  overflow: hidden;
  p{
    //color: $gray-promo;
    color: $light-grey;
    font-weight: 500;
    font-size: $font-lg;
    white-space: normal;

  }
}

.promotion_title_primary.closed{
  opacity: 0;
  transition: all 0.5s ease;
}


.promotion_text_touched{
  font-size: $font-md !important;
  letter-spacing: .7px;
  font-weight: 400 !important;
  margin-top: .7rem;
  white-space: normal;
}

.promotion_description_touched{
  font-size: $font-mder !important;
  letter-spacing: .7px;
  font-weight: 400 !important;
  margin-top: .7rem;
}




.promotion_list{
  min-height: 200px;
  width: 100%;
  display: flex;
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  height: 25vh;
  max-height: 200px;
  top: 75px;
  @media (min-width: 1440px) {
    top: 95px;
  }
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
}

.promotion_list::-webkit-scrollbar{
  display: none;
}

.promotion_card{
  user-select: none;
  border-radius: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  min-width: 345px;
  height: 100%;
  //background-color: #cfc8ef;
  //background-color: #EB5757FF// ;
  background-color: #221E22;
  //background-color: #ff6392;
  cursor: pointer;
  margin-right: 2rem;
  position: relative;
  flex: 0 0 auto;
  transition: opacity .4s ease;
  &:last-of-type{
    margin-right: 0;
  }
  @media (min-width: 1024px) {
    min-width: 30.2vw;
  }
  @media (min-width: 1100px) {
    min-width: 30.4vw;
  }
  @media (min-width: 1226px) {
    min-width: 30.8vw;
  }
  @media (min-width: 1400px) {
    min-width: 31.1vw;
  }
  @media (min-width: 1600px) {
    min-width: 31.3vw;
  }
  @media (min-width: 1800px) {
    min-width: 31.4vw;
  }
}
.promotion_card:nth-of-type(3){
  margin-right: 2rem;
}
.promotion_card:nth-of-type(1){
  margin-right: 2rem;
  margin-left: 1.4rem;
}

