@import "src/./variables.scss";


.nutrients_list{
  list-style: none;
  color: $black-50;
  font-weight: 400;
  padding: 0;
  margin-top: 0;
  p{
    @media (min-height: 650px) {
      font-size: $font-md;
    }
    @media (min-height: 800px) {
      font-size: $font-regular;
    }
    @media (min-width: 768px) {
      font-size: $font-md;
    }
    @media (min-width: 1440px) {
      font-size: $font-regular;
    }
  }

}


.nutrients_list.row{
  display: flex;
  p{
    font-family: "Geometria", sans-serif !important;
    @media (min-width: 1440px) {
      font-size: $font-regular;
    }
  }
}

.nutrient.row{
  margin-right: 0.5rem;

}
.nutrient.row:last-of-type{
  margin-right: 0;

}

.nutrients_list.presentation{
  color: $black-50;
  font-size: $font-md;
}

.nutrient{
  margin-bottom: 0.125rem;
  p{
    font-family: "Geometria", sans-serif;

  }
}
.energy_value{
  margin-top: 0.5rem;
  p{
    font-family: "Geometria", sans-serif;
  }
}
.energy_value:before{
  font-family: "Geometria", sans-serif;
  content: 'Энергетическая ценность:';
  margin-bottom: 0.1rem;
}