@import "src/./variables.scss";

.nav.modal{
  z-index: 130!important;
  top: 64px;
}

.nav_list{
  max-width: 768px;
  list-style: none;
  padding: 1.5rem;
  margin: 0;
}

.nav_item{
  font-weight: 600;
  font-size: $font-lger;
  border-bottom: 2px solid black;
  border-radius: 2px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navigation_dot{
  width: 7px;


  height: 7px;
  background-color: $red;
  border-radius: 50%;
  right: 0;
  top: 30px;
  position: absolute;
}

.navigation_dot.order{
  top: 27px !important;
}