
@import "src/./variables.scss";

.product_presentation{
  position: fixed;
  padding: 1rem 1rem 5vh;
  height: 85vh;
  bottom: -5%;
  background-color: white;
  z-index: 900;
  width: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  @media (min-width: 1440px) {
    height: calc(100% - 80px + 4%);
    bottom: -4%;
    width: 40%;
    right: 0;
    border: 1px solid $gray-promo;
    padding: 1rem 2rem 5vh;

  }

}
.top_part{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //up to 1440px
  @media (max-width: 1440px) {
    max-width: 650px;
  }
}

.product_presentation.hidden{
  height: 0;
  overflow: hidden;
  opacity: 0;

  @media (min-width:1440px){
    height: calc(100% - 80px + 4%) !important;
    right: -100%;
  }
}

.miscellaneous{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .description {
    color: $black-50;

    @media (min-height: 650px) {
      font-size: $font-md;
    }
    @media (min-height: 800px) {
      font-size: $font-regular;
    }
    @media (min-width: 1440px) {
      font-size: $font-mder;
      line-height: 1.5rem;
    }
  }
}

.name.presentation{
  font-size: $font-lg;
}


.title.presentation{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  width: 100%;
  padding-right: .8rem;
}


.add_to_cart_btn{
  border:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $green-second;
  border-radius: 2px;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: $font-regular;
  font-weight: 500;
  margin-bottom: 1rem;

  @media (min-height: 650px) {
    height: 2.5rem;
  }
  @media (min-height: 720px) {
    height: 3rem;
  }
  // > 1440px
  @media (min-width: 1440px) {
    height: 3.5rem;
  }
  //up to 1440px mw 800px
  @media (max-width: 1440px) {
    max-width: 650px;
  }
}
.add_to_cart_text {
  transform: translateX(3px);
  cursor: pointer;
  @media (min-width: 1440px) {
    font-size: $font-mder;
  }
}

.image.presentation{
  width: 90vw !important;
  margin: 0 auto;
  //@media (max-width: 720px) {
  //  max-width: 450px;
  //}
  @media (max-height: 620px) {
    max-width: 380px;
  }
  max-width: 500px;
}


.total_cart_price{
  width: 60px;
  font-weight: 500;

  text-align: right;
  @media (min-height: 650px) {
    font-size: $font-md;
  }

  @media (min-height: 750px) {
    font-size: $font-regular;
    width: 65px;
  }
  @media (min-width: 1440px) {
    font-size: $font-mder;
  }
}

.add_to_cart_icon{
  transform: translateY(-2px);
  @media (min-width: 1440px) {
    transform: none;
  }
}

.cart_icon_container{
  display: flex;
  position: relative;
  transform: translateY(2px);
  justify-content: start;
  width: 40px;

}

.notification_dot{
  width: 7px;
  right: 30%;
  top: -6%;
  height: 7px;
  background-color: $red;
  border-radius: 50%;
  position: absolute;
}


