@import "src/./variables.scss";


.cart_link{
  max-width: 500px;
  position: fixed;
  bottom: 20px;
  z-index: 99;
  height: 55px;
  border: 0;
  background-color: $black;
  color: white;
  width: calc(100% - 32px);
  margin-right: 16px;
  margin-left: 16px;

  transition: all 0.1s ease-in-out;
  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    left: calc((100vw - 500px) / 2);
  }
  @media (min-width: 500px) {
    margin-right: 0;
    margin-left: 0;
    left: calc((100vw - 500px) / 2);

  }
}

.cart_link:active{
  transform: scale(.98);
}

.cart_link_icon{
  position: absolute;
  left: 20px;
  top: 13px
}

.cart_price.link{
  position: absolute;
  right: 16px;
  top: 18px;

  font-size: $font-mder;
  font-weight: 500;
}

.cart_link_title{
  font-size: $font-lg;
  font-family: "Geometria Bold", serif;

  letter-spacing: .9px;

}

