@import "src/./variables.scss";


.product_modal{
  position: fixed;
  top: -100%;
  background-color: $light-grey;
  min-width: 750px;
  width: 50%;
  max-width: 850px;
  z-index: 130;
  margin: 0 auto;
  height: auto;
  max-height: 500px;
  padding: 1rem;
  border-radius: 5px;
  left: 25% ;
}
.product_modal_name{
  font-family: "Geometria Bold",sans-serif;
  font-size: $font-lg;
}
.--product-modal-active{
  top: 30%;
}
.form_grid{
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 120px 400px;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  p{
      font-size: $font-mder;
      font-family: "Geometria",sans-serif;
  }
  section:nth-of-type(4){
    width: 600px;
  }
}
.edit_description{
  resize: none;
  font-family: "Geometria",sans-serif;
  padding: 0.2rem 0.5rem;
  font-size: $font-regular;
  width: 400px;
  outline: none;
}
.edit_nutrients{
  p{
    font-family: "Geometria",sans-serif !important;
    font-size: $font-md;
  }
}
.modal_nutrient{
  width: 190px;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 90px 70px 30px;
  align-items: center;
  justify-content: center;

}
.edit_content{
  display: flex;

}
.file_upload{
display: none;
}
.upload_title{
  background-color: $light-grey;
  font-family: "Geometria",sans-serif;
  font-size: $font-md;
  padding: 0.2rem 0.5rem;
  border: 1px solid $dark-grey;
  border-radius: 5px;
}
.label_control{
  width: 150px;
  height: 60px;
  outline: none;
  margin-bottom: 1rem;
  background-color: $light-grey;
  border-radius: 5px;
  border: 1px solid $black-50;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  transition: all 0.05s ease-in-out;
  label{
    padding: .8rem;
    font-family: "Geometria",sans-serif;
    font-size: $font-regular;
    text-align: center;
  }
}

.filename{
  font-family: "Geometria",sans-serif;
  margin-bottom: 1rem;
  text-align: right;
}

.create_content{
  display: flex;
}