@import "src/./variables.scss";


.nutrients_list{
  list-style: none;
  color: $black-50;
  font-weight: 400;
  padding: 0;

  p{
    @media (min-height: 650px) {
      font-size: $font-md;
    }
    @media (min-height: 800px) {
      font-size: $font-regular;
    }
  }

}
.nutrients_list.presentation{
  color: $black-50;
  font-size: $font-md;
}

.nutrient{
  margin-bottom: 0.125rem;
}
.energy_value{
  margin-top: 0.5rem;
}
.energy_value:before{
  content: 'Энергетическая ценность:';
  margin-bottom: 0.1rem;
}