@import "src/./variables.scss";


.catalog{
  position: relative;
  z-index: 5;
  padding: 0 0 2rem;
  top: 25px;



  @media (min-width: 768px) {
    width: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 0 auto;
  }
}