@import "src/./variables.scss";


.catalog{
  position: relative;
  z-index: 5;
  padding: 0 0 10rem;
  top: 1rem;



  @media (min-width: 768px) {
    width: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 0 auto;
    top: 35px;
  }

  @media (min-width: 1024px) {
    display: grid;
    width: min-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    margin: 0 auto;
    top: 30px;
  }

  @media (min-width: 1540px) {
    //margin: 1rem 0 0 9%;
    top: 3.2rem;
    margin: 1rem 9% 0 2.5rem;
    padding-bottom: 15rem;
  }

  @media (min-width: 1700px) {
    //margin: 1rem 0 0 12%;
    margin: 1rem 12% 0 2.5rem;

  }



}