@import "src/./variables.scss";


.catalog{
  position: relative;
  z-index: 5;
  padding: 0 0 2rem;
  top: 25px;



  @media (min-width: 768px) {
    width: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 0 auto;
    top: 35px;
  }

  @media (min-width: 1024px) {
    display: grid;
    width: min-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    margin: 0 auto;
    top: 60px;
  }

  @media (min-width: 1440px) {
    top: 60px;
  }

}