
@import "src/./variables.scss";

.pay_link{
  max-width: 500px;
  position: fixed;
  bottom: 20px;
  z-index: 190;
  height: 55px;
  border: 0;
  background-color: $black;
  color: white;
  width: calc(100% - 32px);
  margin-right: 16px;
  margin-left: 16px;

  transition: all 0.1s ease-in-out;
  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    left: calc((100vw - 500px) / 2);
  }
  @media (min-width: 500px) {
    margin-right: 0;
    margin-left: 0;
    left: calc((100vw - 500px) / 2);

  }
  }


.pay_link:active{
  transform: scale(.98);
}

.pay_icon{
  margin-right: 0.5rem;
  transform: translateY(2px);
}
.xhlp18z{
  width: calc(25px + 0.5rem);
}