@import "src/./variables.scss";


.live_search{
  display: flex;
  padding: 1rem 1rem 0rem;
  justify-content: space-between;

  .form_input_container{
    width: 80%;
  }
}

.live_search_button{
  background-color: $green-second;
  border: 0;
  padding: 0.5rem;
  border-radius: 7px;
  font-family: "Geometria Medium", sans-serif;
  color: white;
  font-size: $font-smer;
  transition: all 0.05s ease-in
}
.live_search_button:active{
  transform: scale(0.98);
}

.live_search_result{
  width: 400px;
  padding: 0rem 1rem 1rem;
  transition: right 0.4s ease-in-out;
  background-color: $yellow-accent;
  border-radius: 10px;
}

.modal_title.ls{
  text-align: center;
}

.livesearch_container{
  position: absolute;
  box-shadow: 1px 2px 15px $dark-grey;
  transition: all 0.4s ease-in-out;
  top: 0;
  z-index: 1500;
  background-color: $yellow-accent;
  right: -400%;
  width: 400px;
  border-radius: 10px;
}
