
@import "src/./variables.scss";


.order_form{
  padding: .5rem 1rem 1rem;
}

.delivery_input{
  margin-bottom: 1rem;
  @media (min-height: 700px) {
    font-size: $font-mder;
  }
  @media (max-height: 700px) {
    margin-bottom: .5rem;
  }
}



.is_delivered_checkbox{
  justify-content: space-between;
  display: flex;

  p{
    font-family: "Geometria Bold", sans-serif !important;

  }
  p.--disabled{
    opacity: 0.8 !important;
  }

}


.contacts_title{
  i{
    font-family: "Geometria",sans-serif;
    @media (min-height: 700px) {
      font-size: $font-md;
    }
  }
  margin-bottom: 0.2rem;
}

.contacts_phone_title{
  margin-bottom: 0.1rem;
  font-family: "Geometria Bold", serif !important;
  @media (min-height: 700px) {
    font-size: $font-mder;
  }

}




.delivery_details_container{
  display: flex;
  margin-top: .5rem;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.entrance_number_input{
  width: 29% !important;
  @media (min-height: 810px) {
    width: 31% !important;
  }

}
.flat_call_input{
  width: 18% !important;
  @media (min-height: 810px) {
    width: 21% !important;
  }
}

.floor_input{
  width: 20% !important;
  @media (min-height: 810px) {
    width: 21% !important;
  }
}


.select_container{
  select{
    width: 200px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
  @media (min-height: 700px) {
    margin-bottom: 0.5rem;
  }
}

.delivered_at.select_container{
  margin-top: 0.5rem;
}
.pay.select_container{
  margin-bottom: 0;
}

.delivered_at_select{
  outline: none;
  border: 1px solid $black-50;
  background-color: $light-grey-50;
  border-radius: 7px;
  padding: 0.2rem;
  font-family: "Geometria Medium",sans-serif;
  @media (max-height: 700px) {
    transform: translateX(4px);
  }
  @media (min-height: 700px) {
    font-size: $font-md;
  }
  option{
    font-family: "Geometria Medium",sans-serif;

  }
}
.delivered_at_title{
  font-family: "Geometria Bold",sans-serif;
  font-size: 1rem;
  @media (min-height: 700px) {
    font-size: $font-mder
  }
}

.autocomplete{
  box-shadow: 0 0 5px $black-50;
  border-radius: 7px;
  z-index: 4000;
  padding: 0.2rem;
  left: 2rem;
  position: absolute;
  background-color: $light-grey;
  p{
    font-family: "Geometria",sans-serif;
  }
}

.comment{
  margin-bottom: 1rem ;
}