@import "src/./variables.scss";


.master_login.modal{
  width: 100%;
  height: 100%;
  border: 1px solid $gray-promo;
  top: 0;
  background-color: white;
  z-index: 1200;
  display: block;

  @media (min-width: 1440px) {
    top: 80px;
    width: 50%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.master_login_header{
  z-index: 600;
  position: fixed;
  width: 100vw;
  background-color: white;
  display: flex;
  height: 60px;
  border-bottom: 1px solid $santa-grey;
  align-items: center;
}

.center_part{
  p{
    font-size: $font-lg;
    font-family: "Geometria Bold", serif;
    font-weight: 500;
    margin-right: 5%;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.master_form{
  border: 1px solid $santa-grey;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  width: 50%;
  position: relative;
  margin: calc((50% - 60px)/2) auto;
  @media (min-width: 1440px) {

  }
  @media (max-width: 1440px) {
    top: 60px;
  };
}


.master_login_button{
  height: 40px;
  margin-top: 2rem;
  width: 100%;
  background-color: $green;
  border: 0;
  border-radius: 25px;
  transition: all 0.1s ease-in-out;

  p{
    font-family: "Geometria Medium",sans-serif;
    font-size: $font-mder;
    color: white;
  }
}

.master_login_button:active{
  transform: scale(.98);

}

.login_title{
  font-family: "Geometria",sans-serif;
  font-size: $font-mder;
  margin-bottom: 1rem;
}