@import "src/./variables.scss";





.promotion_title_primary{
  transition: all 0.5s ease;
  padding: 1rem;
  position: absolute;
  overflow: hidden;
  p{
    color: $gray-promo;
    font-weight: 500;
    font-size: $font-lg;
    white-space: normal;
    //max-width: 350px;


  }
}

.promotion_title_primary.closed{
  opacity: 0;
  transition: all 0.5s ease;
}


.promotion_text_touched{
  font-size: $font-md !important;
  letter-spacing: .7px;
  font-weight: 400 !important;
  margin-top: .7rem;
  white-space: normal;
}

.promotion_description_touched{
  font-size: $font-mder !important;
  letter-spacing: .7px;
  font-weight: 400 !important;
  margin-top: .7rem;
}




.promotion_list{

  width: 100%;
  display: flex;
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  height: 30vh;
  top: 75px;
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-height: 670px) {
    height: 27vh;
  }
  @media(min-height: 720px){
    height: 24vh;
  }
  @media(min-height: 850px){
    height: 22vh;
  }
}

.promotion_list::-webkit-scrollbar{
  display: none;
}

.promotion_card{
  //max-width: 350px;

  min-width: 345px;
  height: 100%;
  background-color: $yellow;
  cursor: pointer;
  margin-right: 2rem;
  position: relative;
  flex: 0 0 auto;
  transition: opacity .4s ease;
  &:last-of-type{
    margin-right: 0;
  }
  @media (min-width: 1024px) {
    min-width: 30.2vw;
  }
  @media (min-width: 1100px) {
    min-width: 30.4vw;
  }
  @media (min-width: 1226px) {
    min-width: 30.8vw;
  }
  @media (min-width: 1400px) {
    min-width: 31.1vw;
  }
  @media (min-width: 1600px) {
    min-width: 31.3vw;
  }
  @media (min-width: 1800px) {
    min-width: 31.6vw;
  }
}
.promotion_card:nth-of-type(3){
  margin-right: 1rem;
}

